<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Twigly Presents: Vanvaas!</title>
    <link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">
  </head>
  <body style="background: url(http://twigly.in/assets/images/vbackground.jpg)">
    <div style="text-align: center;">
      <img src="http://twigly.in/images/vanvaas.jpg" style="width: 50%;">
    </div>
    {% if !thisuser %}
      <fb:login-button autologoutlink="true" scope="public_profile,email,user_posts,user_birthday"></fb:login-button>
    {% end %}
    {% if thisuser %}
      <div style="text-align: center; font-family: 'Handlee', cursive;">
        <span style="font-size: 1.5em;">Hey {{ escape(thisuser.name) }}</span><br>
        <img src="https://graph.facebook.com/{{ thisuser.id }}/picture?type=square"/><br>
        Welcome to Twigly Vanvaas. Here are some suggestions for your Vanvaas Team based on your interactions on Facebook.
      </div>
      {% if len(commentsresult) > 0 %}  
        <div style="text-align: center; font-family: 'Handlee', cursive;">
          <span style="font-size: 1.5em;">Your Laxmans</span><br>
          They are most likely to engage with you in a stimulating conversation!<br>
          <table style="display: inline-block;">
            <tr>
              {% for comment in commentsresult %}
                <td>
                  <img src='https://graph.facebook.com/{{ comment["id"] }}/picture?type=square' /><br>
                  {{ escape(comment["name"]) }}
                </td>
              {% end %}
            </tr>
          </table>
        </div>
      {% end %}
      {% if len(reactionsresult) > 0 %}  
      <div style="text-align: center;">
        <span style="font-size: 1.5em;">Your Hanumans</span><br>
        You can count on them for reacting to your discoveries and thoughts.<br>
        <table style="display: inline-block;">
          <tr>
            {% for reaction in reactionsresult %}
              <td>
                <img src='https://graph.facebook.com/{{ reaction["id"] }}/picture?type=square' /><br>
                {{ escape(reaction["name"]) }}
              </td>
            {% end %}
          </tr>
        </table>
      </div>
      {% end %}
      <fb:login-button autologoutlink="true" scope="public_profile,email,user_posts,user_birthday"></fb:login-button>
    {% end %}

    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({appId: '{{ facebook_app_id }}', status: true,
                 cookie: true, xfbml: true});
        FB.Event.subscribe('{% if thisuser %}auth.logout{% else %}auth.login{% end %}', function(response) {
          window.location.reload();
        });
      };
      (function() {
        var e = document.createElement('script');
        e.type = 'text/javascript';
        e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
        e.async = true;
        document.getElementById('fb-root').appendChild(e);
      }());
    </script>
  </body>
</html>