<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Twigly Presents: Vanvaas!</title>
    <link href="https://fonts.googleapis.com/css?family=Handlee|Shadows+Into+Light+Two" rel="stylesheet">
    <link rel="stylesheet" href="http://blog.twigly.in:8080/static/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/png" href='http://twigly.in/assets/images/favicon.png'>
    {% if thisuser %}
      <meta property="og:url" content="http://twigly.in/vanvaas/{{ thisuser['id'] }}" />
    {% else %}
      <meta property="og:url" content="http://twigly.in/vanvaas" />
    {% end %}
    <meta property="og:type" content="website" />
    {% if thisuser %}
      <meta property="og:title" content="{{ thisuser['name'] }}'s Vanvaas Team" />
    {% else %}
      <meta property="og:title" content="Twigly Presents Vanvaas!" />
    {% end %}
    {% if thisuser and type=="Their" %}
      <meta property="og:description" content='This is who {{ thisuser["name"] }} would take along if they had to go for Vanvaas. Share your Vanvaas Team with #TwiglyVanvaas and win two nights at a heritage resort!' />

    {% elif thisuser and type=="Your" %}
      <meta property="og:description" content="Check out who I would take along if I had to go for Vanvaas today. Share your Vanvaas Team with #TwiglyVanvaas and win two nights at a heritage resort!" />
    {% else %}
      <meta property="og:description" content="Who would you take along if you had to go for Vanvaas today. Share your Vanvaas Team with #TwiglyVanvaas and win two nights at a heritage resort!" />
    {% end %}
    <meta property="og:image" content="http://twigly.in/assets/images/vanvaas.jpg" />
    <meta property="fb:app_id" content="{{ facebook_app_id }}" />
    <style type="text/css">
      .friendimage {
        padding: 20px;
      }
      div.polaroid {
          padding: 10px 10px 10px 10px;
          border: 1px solid #BFBFBF;
          background-color: white;
          box-shadow: 5px 5px 5px #444444;
      }

      div.rotate_right {
          -ms-transform: rotate(7deg); /* IE 9 */
          -webkit-transform: rotate(7deg); /* Safari */
          transform: rotate(7deg);
      }

      div.rotate_left {
          -ms-transform: rotate(-8deg); /* IE 9 */
          -webkit-transform: rotate(-8deg); /* Safari */
          transform: rotate(-8deg);
      }
      .input-group-addon {
        display: none;
      }
    </style>
  </head>
  <body style="background: url(http://blog.twigly.in:8080/static/img/vbackground.jpg) no-repeat fixed center; background-size: cover;">
    <div class="container">
      <div class="row" style="text-align: center; color: #ffffff;">
        <span style="font-family: 'Shadows Into Light Two', cursive; font-size: 2em;">Twigly Presents</span><br>
        <span style="font-family: 'Shadows Into Light Two', cursive; font-size: 3em;">Vanvaas</span><br>
      </div>
      {% if not thisuser %}
        <div class="row" style="text-align: center; font-family: 'Handlee', cursive; margin-top: 20px; font-size: 2em; color: #FFFFFF;">
          <div class="col-xs-12">
            Let us help you figure out who you should take along with you if you had to go for a  Vanvaas. Share your Vanvaas Team with #TwiglyVanvaas and win two nights at a Heritage Resort!
          </div>
        </div>
        <div class="row" style="text-align: center; margin-top: 20px;">
          <fb:login-button autologoutlink="true" scope="public_profile,email,user_posts"></fb:login-button>
        </div>
        </div>
      {% end %}
      {% if thisuser %}
        <div class="row" style="text-align: center; font-family: 'Handlee', cursive; margin-top: 20px;">
          
          {% if type=="Your" %}
            <div class="col-xs-12" style="font-size: 1.5em; margin-bottom: 15px; color: #ffffff;">Hey {{ escape(thisuser["name"]) }}</div>
          {% end %}
          <div class="hidden-xs hidden-sm col-md-4"></div>
          <div class="col-xs-12 col-md-4">
            <div class="col-xs-6" style="text-align: center;">
              <div class="polaroid rotate_left">
                <img src="https://graph.facebook.com/{{ thisuser['id'] }}/picture?type=square&height=100&width=100"/>
              </div>
            </div>
            <div class="col-xs-6" style="text-align: center;">
              <div class="polaroid rotate_right">
                <img src="http://blog.twigly.in:8080/static/img/v1.jpg" style="height: 100px;" />
              </div>
            </div>
          </div>
          <div class="hidden-xs hidden-sm col-md-4"></div>
          <div class="col-xs-12" style="text-align: center; font-size: 1.5em; margin-top: 15px; color: #FFFFFF;">
            Welcome to Twigly Vanvaas. 
            {% if type=="Your" and (len(commentsresult) > 0 or len(reactionsresult) > 0) %}
              Here are some suggestions for your Vanvaas Team based on your interactions on Facebook.
            {% end %}
            {% if type=="Their" %}
              Here are our suggestions for {{ escape(thisuser["name"]) }}'s Vanvaas Team based on their interactions on Facebook.
            {% end %}
          </div>
        </div>
        {% if len(reactionsresult) > 0 %}
          <div class="row" style="margin-top: 20px;">
            {% for index in range(len(reactionsresult)) %}
              <div class="col-xs-12 col-md-4 header" style="text-align: center; font-size: 1.5em; font-family: 'Handlee', cursive;">
                <div class="col-xs-12" style="color: #ffffff; margin-bottom: 10px; text-align: center;">
                  {{ type }} {{ reactionsresult[index]["character"] }} {% if type=="Their" %}is{% end %} {% if type=="Your" %}could be{% end %} <span id="reaction{{index}}name">{{ reactionsresult[index]["name"] }}</span>
                  {% if type=="Your" %}
                    <span class="label label-primary change" style="cursor: pointer; font-family: sans-serif; font-size: 10px;">Change</span>
                    <div class="frienddropdowncontainer" style="display: none; width: 100%; color: #000; font-family: sans-serif;">
                      <select id="reaction{{index}}" class="frienddropdown" style="width: 100%; color: #000;">
                      {% for friend in friendlookup %}
                        <option value="{{friend['id']}}">{{friend['name']}}</option>
                      {% end %}
                      </select>
                    </div>
                  {% end %}
                </div>
                <div class="col-xs-6">
                  <div class="polaroid rotate_left">
                    <img src='http://blog.twigly.in:8080/static/img/{{ reactionsresult[index]["image"] }}' style="height: 100px;">
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="polaroid rotate_right">
                    <img class="friendphoto" src='https://graph.facebook.com/{{ reactionsresult[index]["id"] }}/picture?type=square&height=100&width=100' style="height: 100px;">
                  </div>
                </div>
                <div class="col-xs-12" style="text-align: center; font-family: sans-serif; color: #ffffff; font-size: 13px; margin-top: 10px;">
                  {{ reactionsresult[index]["description"] }}
                </div>
                {% if "sandwich" in reactionsresult[index] %}
                  <div class="col-xs-12" style="text-align: center; font-family: sans-serif; color: #ffffff; font-size: 13px; margin-top: 10px;">
                    Favourite sandwich: {{ reactionsresult[index]["sandwich"] }}
                  </div>
                {% end %}
              </div>
            {% end %}
          </div>
        {% end %}
        {% if len(commentsresult) > 0 %}
          <div class="row" style="margin-top: 20px;">
            {% for index in range(len(commentsresult)) %}
              <div class="col-xs-12 col-md-4 header" style="text-align: center; font-size: 1.5em; font-family: 'Handlee', cursive;">
                <div class="col-xs-12" style="color: #ffffff; margin-bottom: 10px; text-align: center;">
                  {{ type }} {{ commentsresult[index]["character"] }} {% if type=="Their" %}is{% end %} {% if type=="Your" %}could be{% end %} <span id="comment{{index}}name">{{ commentsresult[index]["name"] }}</span> 
                  {% if type=="Your" %}
                    <span class="label label-primary change" style="cursor: pointer; font-family: sans-serif; font-size: 10px;">Change</span>
                    <div class="frienddropdowncontainer" style="display: none; width: 100%; color: #000; font-family: sans-serif;">
                      <select id="comment{{index}}" class="frienddropdown" style="width: 100%; color: #000;" >
                      {% for friend in friendlookup %}
                        <option value="{{friend['id']}}">{{friend['name']}}</option>
                      {% end %}
                      </select>
                    </div>
                  {% end %}
                </div>
                <div class="col-xs-6">
                  <div class="polaroid rotate_left">
                    <img src='http://blog.twigly.in:8080/static/img/{{ commentsresult[index]["image"] }}' style="height: 100px;">
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="polaroid rotate_right">
                    <img class="friendphoto" src='https://graph.facebook.com/{{ commentsresult[index]["id"] }}/picture?type=square&height=100&width=100' style="height: 100px;">
                  </div>
                </div>
                <div class="col-xs-12" style="text-align: center; font-family: sans-serif; color: #ffffff; font-size: 13px; margin-top: 10px;">
                  {{ commentsresult[index]["description"] }}
                </div>
                {% if "sandwich" in commentsresult[index] %}
                  <div class="col-xs-12" style="text-align: center; font-family: sans-serif; color: #ffffff; font-size: 13px; margin-top: 10px;">
                    Favourite sandwich: {{ commentsresult[index]["sandwich"] }}
                  </div>
                {% end %}
              </div>
            {% end %}
          </div>
        {% end %}
        {% if len(commentsresult) == 0 and len(reactionsresult) == 0 %}
          <div class="row" style="margin-top: 20px;">
            <div class="col-xs-12" style="color: #ffffff; margin-bottom: 10px; text-align: center;">
              We need access to your posts to show our suggestions for who you can take along for your Vanvaas. Please login again, and this time give us access to your posts. We will never post on your behalf, nor store your posts.
            </div>
          </div>
        {% end %}
        <div class="col-xs-12" style="text-align: center; margin: 15px 0 30px 0;">
          <div style="width: 50%; display: inline-block; text-align: center; background: rgba(255,255,255,0.5); padding: 20px 10px 20px 10px;">
            <div style="color: #333333; font-size: 2em; text-align: center;">
              {% if type=="Your" %}
                Share your Vanvaas team with #TwiglyVanvaas and get a two nights stay at a heritage resort for two!<br>Two additional lucky winners get 1,000 Twigly Wallet Money!
              {% end %}
              {% if type=="Their" %}
                Curious? You could win a two night's stay at a Heritage Resort!
              {% end %}
            </div>
            <div style="text-align: center;">
              {% if type=="Your" %}
                <a href="javascript:fbShare({{ thisuser['id'] }})" style="margin: 20px 0 10px 0;">
                  <img alt='Facebook Share' src='http://blog.twigly.in:8080/static/img/fb_share.png' style="cursor: pointer;" />
                </a>
              {% end %}
              {% if type=="Their" %}
                <button class="btn btn-primary">Who should be on your team?</button>
              {% end %}
              <!--<div class="fb-share-button" data-href="http://twigly.in/vanvaas/{{ thisuser['id'] }}" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Ftwigly.in%2Fvanvaas%2F{{ thisuser['id'] }}">Share</a></div>-->
            </div>
            <div style="color: #333333; font-size: 0.7em; text-align: left;">
              Terms & Conditions:
              <ul>
                <li>To be considered a winner, participants must be a customer of Twigly. This will be verified based on order history</li> 
                <li>Participants must share their team page with #TwiglyVanvaas so that it can be tracked.</li>
                <li>There will be 1 winner in this contest, and this winner will be selected based on a lucky draw.</li>
                <li>The heritage resort will be a three-star resort of Twigly's selection. This will be finalized with the winner. The maximum amount of reimursement will be Rs. 11,000</li>
                <li>The resort stay must be utilized in November 2016.</li>
                <li>Twigly reserves the right to disqualify any participants that is found to conduct suspicious behaviour.</li>
                <li>If the Winner is unable to send his/her details within 10 days of announcement, the Winner will not be eligible for the prize.</li>
                <li>By sharing or entering into the contest in any way, participants are deemed to have accepted these terms & conditions.</li>
                <li>The prize under the contest is non-transferable and non-substitutable and under no circumstances will be exchanged with cash.</li>
                <li>Winners will have to provide necessary ID proof before receiving the prize. Twigly may not disburse the prize if the ID is suspect.</li>
                <li>Twigly reserves the right to terminate, modify or extend the prize and the terms and conditions of the prize including offer terms and conditions at any time without prior notice at its absolute discretion and without assigning any reason.</li>
                <li>In case of any dispute or difference in respect of or in connection with the offer and/or the prizes therein, the decision of Twigly shall be final and binding on all concerned and no correspondence or appeals will be entertained in this regard.</li>
                <li>Unless otherwise indicated, Twigly shall deem any information voluntarily supplied during the course of the Offer/program and/or personal information provided by the participants as non-confidential, which hereby discharges all obligations of confidentiality.</li>
                <li>Twigly is not liable for any losses, delay or damages incurred by the participant due to force majeure events.</li>
                <li>Twigly shall not be liable for any direct indirect, consequential, incidental loss, damage or injury suffered by the winner or any companion thereof while availing the prize.</li>
              </ul>
            </div>
          </div>
        </div>
      {% end %}
    </div>

    <div id="fb-root"></div>
    <script src="/assets/javascripts/jquery-2.1.4.min.js"></script>
    <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/javascripts/bootstrap-combobox.js"></script>
    <script>
      window.fbAsyncInit = function() {
        FB.init({appId: '{{ facebook_app_id }}', status: true,
                 cookie: true, xfbml: true});
        FB.Event.subscribe('{% if thisuser %}auth.logout{% else %}auth.login{% end %}', function(response) {
          window.location.reload();
        });
        //FB.AppEvents.logPageView();
      };
      (function() {
        var e = document.createElement('script');
        e.type = 'text/javascript';
        e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
        e.async = true;
        document.getElementById('fb-root').appendChild(e);
      }());

      function fbShare(id) {
        var winTop = 100;
        var winLeft = 100;
        window.open("http://www.facebook.com/sharer.php?u=http://twigly.in/vanvaas/" + id, 'sharer', 'top=100,left=100,toolbar=0,status=0');
      }
    </script>
    <script type="text/javascript">
      var lookup = {% raw lookup %};
      $(document).ready(function() {
        $(".frienddropdown").combobox();
        $('.change').on('click', function() {
          $(this).fadeOut(function() {
            $(this).parent().find('.frienddropdowncontainer').fadeIn();
          });
        });
        $('.frienddropdown').on('change', function() {
          var thiselem = $(this);
          var header = $(this).closest('.header');
          $(header).find('.frienddropdowncontainer').fadeOut(function() {
            $(header).find('.change').fadeIn();
          });
          $(header).find('#' + $(thiselem).attr('id') + 'name').text(lookup[$(thiselem).val()]);
          $(header).find('.friendphoto').attr('src', 'https://graph.facebook.com/' + $(thiselem).val() + '/picture?type=square&height=100&width=100');
          
        });
      });
    </script>
  </body>
</html>