<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Twigly Presents: Vanvaas!</title>
  </head>
  <body>
    <fb:login-button autologoutlink="true" scope="public_profile,email,user_posts,user_birthday"></fb:login-button>

    {% if thisuser %}
      <p><a href="{{ thisuser.profile_url }}"><img src="https://graph.facebook.com/{{ thisuser.id }}/picture?type=square"/></a></p>
      <p>Hey, {{ escape(thisuser.name) }} - Based on your interactions on Facebook, here are our suggestions for who you could take along with you for your Vanvaas:</p>
      {% if len(commentsresult) > 0 %}  
        <div style="text-align: center;">
          Your Laxmans<br>
          They are most likely to engage with you in a stimulating conversation!<br>
          <table style="display: inline-block;">
            <tr>
              {% for comment in commentsresult %}
                <td>
                  <img src='https://graph.facebook.com/{{ comment["id"] }}/picture?type=square' />
                  {{ escape(comment["name"]) }}
                </td>
              {% end %}
            </tr>
          </table>
        </div>
      {% end %}
      {% if len(reactionsresult) > 0 %}  
      <div style="text-align: center;">
        Your Hanuman<br>
        You can count on them for reacting to your discoveries and thoughts.<br>
        <table style="display: inline-block;">
          <tr>
            {% for reaction in reactionsresult %}
              <td>
                <img src='https://graph.facebook.com/{{ reaction["id"] }}/picture?type=square' />
                {{ escape(reaction["name"]) }}
              </td>
            {% end %}
          </tr>
        </table>
      </div>
      {% end %}
    {% end %}

    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({appId: '{{ facebook_app_id }}', status: true,
                 cookie: true, xfbml: true});
        FB.Event.subscribe('{% if thisuser %}auth.logout{% else %}auth.login{% end %}', function(response) {
          window.location.reload();
        });
      };
      (function() {
        var e = document.createElement('script');
        e.type = 'text/javascript';
        e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
        e.async = true;
        document.getElementById('fb-root').appendChild(e);
      }());
    </script>
  </body>
</html>