<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Twigly Stats</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-3"></div>
        <div class="col-xs-12 col-md-6" style="padding: 10px 0px;">
            <div class="col-xs-6">Username</div>
            <div class="col-xs-6"><input class="inputelement" id="username"/></div>
            <div class="col-xs-6">Password</div>
            <div class="col-xs-6"><input class="inputelement" id="password" type="password" /></div>
        </div>
        <div class="col-xs-12 col-md-3"></div>
        <div class="col-xs-12" style="text-align: center">
            <button id="submit" class="btn btn-primary">Login</button>
        </div>
        <div class="col-xs-12">
            <div class="alert alert-danger" id="loginresult" style="margin-top: 30px; display: none;"></div>
        </div>
    </div>
</div>
<script src="/static/js/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#submit').click(function() {
            if ($('#username').val() == "" || $('#password').val() == "") {
                $('#loginresult').text("Login or password field empty").fadeIn();
            }
            $.ajax({
                url: "/",
                data: {"username": $('#username').val(), "password": $('#password').val()},
                method: "POST",
                success: function(data) {
                    if (data.result) {
                        if ($('#username').val() == "chef") {
                            window.location = "/storeitems";
                        } else {
                            window.location = "/stats";
                        }
                    } else {
                        $('#loginresult').text("Login failed").fadeIn();
                    }
                }
            });
        });
        $(".inputelement").keyup(function(event) {
            if (event.which == 13) {
                $('#submit').click();
            }
        });
    });
</script>
</body>
</html>