<nav class="navbar navbar-default" style="background: #ff6600; margin-top: 40px;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" style="color: #FFFFFF;">Vitalis</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/stats" style="color: #FFFFFF;">Vital Stats</a></li>
        <li><a href="/itemstats" style="color: #FFFFFF;">Item Stats</a></li>
        {% if user=="admin" %}<li><a href="/userstats" style="color: #FFFFFF;">User Stats</a></li>{% end %}
        <li><a href="/storeitems" style="color: #FFFFFF;">Update Menu</a></li>
        {% if user=="admin" %}<li><a href="/sendmail" style="color: #FFFFFF;">Send Email</a></li>{% end %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>