<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Twigly Rewards Leader Board</title>
    <link rel="shortcut icon" type="image/png" href='http://www.twigly.in/assets/images/favicon.png'>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <style>
    	@font-face {
		    font-family: "Shadows Into Light Two";
		    src: url(/static/fonts/ShadowsIntoLightTwo.ttf);
		}
    	.smallchart {
    		height: 400px;
    	}
    	a.navbar-brand span {
		    color: #fff;
		    font-size: 51px;
		    font-family: "Shadows Into Light Two";
		    font-style: normal;
		    font-weight: 400;
		    line-height: 18px;
		    text-align: left;
		}
		.header-top {
		    background-color: #009688;
		}
		.fx-center-x {
		    position: absolute;
		    width: 100%;
		}
		.fx-logo {
		    top: 0;
		    background-color: #009688;
		    height: 82px;
		}
		.part2 {
			background: #CCC;
		}
    </style>
</head>
<body>
<div class="header-top">
    <div class="fx-center-x">
        <img src="/static/img/logo_bg.png" class="img-responsive center-block" alt="Twigly">
    </div>
    <div class="fx-center-x fx-logo">
        <img src="/static/img/logo.png" class="img-responsive center-block" style="margin-top:12px" alt="Logo">
    </div>
    
    <nav class="navbar navbar-default" role="navigation" style="border:0px; background: transparent;">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand hidden-xs" href="/stats" style="margin-top: 12px;"><span>Twigly</span></a>
            </div>
        </div>
    </nav>
</div>
<div class="container">
	{% if (user=="admin" or user=="headchef" or user=="chef") %}
		{% include "navtemplate.html" %}
	{% end %}
    <div class="row" style="margin-bottom: 40px; margin-top: 40px;">
        <h4 class="text-center" style="font-family: &quot;Lucida Grande&quot;,&quot;Lucida Sans Unicode&quot;,Arial,Helvetica,sans-serif; font-size: 18px; color: rgb(68, 145, 123);">Rewards Leader Board</h4>
        {% raw outputtable %}
    </div>
</div>
<button class="showFilters hidden-xs btn btn-success" style="position: fixed; top: 25px; right: 15px;">Show/Hide Filters</button>
<button class="showFilters visible-xs btn btn-success" style="position: fixed; top: 25px; right: 15px;">V</button>
<div id="horizon" style="position: fixed; top: 89px; right: 15px; text-align: center; width: 100px;">
	<select id="horizonselect">
		<option value="7">One Week</option>
		<option value="14">Two Weeks</option>
		<option value="30">30 Days</option>
	</select>
	<br>-OR-<br>
	<div class="input-daterange" id="datepicker">
    	<input type="text" class="input-sm form-control" name="start" id="startdate" />
    	<span class="input-group-addon" style="width: 100px; border: 0px;">to</span>
    	<input type="text" class="input-sm form-control" name="end" id="enddate" />
    	<button class="btn btn-primary" id="setDates">Go!</button>
	</div>

</div>
<script type="text/javascript">
	var getUrlParameter = function getUrlParameter(sParam) {
	    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
	        sURLVariables = sPageURL.split('&'),
	        sParameterName,
	        i;

	    for (i = 0; i < sURLVariables.length; i++) {
	        sParameterName = sURLVariables[i].split('=');

	        if (sParameterName[0] === sParam) {
	            return sParameterName[1] === undefined ? true : sParameterName[1];
	        }
	    }
	};
	
	$(document).ready(function() {
		$('#horizonselect').on('change', function() {
			window.location.href = "/deliveries?horizon=" + $(this).val();
		});
		var thishorizon = getUrlParameter("horizon");
		if (thishorizon) {
			$('#horizonselect').val(thishorizon);
		}
		var thisstartdate = getUrlParameter("startdate");
		if (thisstartdate) {
			$('#startdate').val(thisstartdate);
		}
		var thisenddate = getUrlParameter("enddate");
		if (thisenddate) {
			$('#enddate').val(thisenddate);
		}
		
		$('.input-daterange').datepicker({
		    todayBtn: "linked",
		    autoclose: true,
		    todayHighlight: true,
		    format: "dd/mm/yy",
		});
		$('#setDates').on('click', function() {
			window.location.href = "/deliveries?startdate=" + $("#startdate").val() + "&enddate=" + $("#enddate").val();
		});
		$('.showFilters').on('click', function() {
			$('#horizon').fadeToggle();
		});

        $('.tablesorter').tablesorter({sortList: [[3,1]]});
	});
	
</script>
</body>
</html>