<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Twigly Stats</title>
    <link rel="shortcut icon" type="image/png" href='http://www.twigly.in/assets/images/favicon.png'>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <style>
    	@font-face {
		    font-family: "Shadows Into Light Two";
		    src: url(/static/fonts/ShadowsIntoLightTwo.ttf);
		}
    	.smallchart {
    		height: 400px;
    	}
    	a.navbar-brand span {
		    color: #fff;
		    font-size: 51px;
		    font-family: "Shadows Into Light Two";
		    font-style: normal;
		    font-weight: 400;
		    line-height: 18px;
		    text-align: left;
		}
		.header-top {
		    background-color: #009688;
		}
		.fx-center-x {
		    position: absolute;
		    width: 100%;
		}
		.fx-logo {
		    top: 0;
		    background-color: #009688;
		    height: 82px;
		}
    </style>
</head>
<body>
<div class="header-top">
    <div class="fx-center-x">
        <img src="/static/img/logo_bg.png" class="img-responsive center-block" alt="Twigly">
    </div>
    <div class="fx-center-x fx-logo">
        <img src="/static/img/logo.png" class="img-responsive center-block" style="margin-top:12px" alt="Logo">
    </div>
    
    <nav class="navbar navbar-default" role="navigation" style="border:0px; background: transparent;">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand hidden-xs" href="/stats" style="margin-top: 12px;"><span>Twigly</span></a>
            </div>
        </div>
    </nav>
</div>
<div class="container">
    {% if (user=="admin" or user=="headchef" or user=="review") %}
        {% include "navtemplate.html" %}
    {% end %}
	<div class="row" style="margin-bottom: 40px;">
        <h2>User Metrics</h2>
    </div>
    <div class="row" style="margin-bottom: 40px;">
        <div id="userschart" style="width:100%; height:400px;"></div>
    </div>
    <div class="row" style="margin-bottom: 40px;">
        <div id="conversionchart" style="width:100%; height:400px;"></div>
    </div>
    <div class="row" style="margin-bottom: 40px;">
        <div id="sourceschart" style="width:100%; height:400px;"></div>
    </div>
    <div class="row" style="margin-bottom: 40px;">
        <div id="platformuserschart" style="width:100%; height:400px;"></div>
    </div>
    <div class="row" style="margin-bottom: 40px;">
        <div id="platformconversionchart" style="width:100%; height:400px;"></div>
    </div>
</div>
<button class="showFilters hidden-xs btn btn-success" style="position: fixed; top: 25px; right: 15px;">Show/Hide Filters</button>
<button class="showFilters visible-xs btn btn-success" style="position: fixed; top: 25px; right: 15px;">V</button>
<div id="horizon" style="position: fixed; top: 89px; right: 15px; text-align: center; width: 100px;">
	<select id="horizonselect">
		<option value="7">One Week</option>
		<option value="14">Two Weeks</option>
		<option value="30">30 Days</option>
	</select>
	<br>-OR-<br>
	<div class="input-daterange" id="datepicker">
    	<input type="text" class="input-sm form-control" name="start" id="startdate" />
    	<span class="input-group-addon" style="width: 100px; border: 0px;">to</span>
    	<input type="text" class="input-sm form-control" name="end" id="enddate" />
    	<button class="btn btn-primary" id="setDates">Go!</button>
	</div>

</div>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/highcharts.js"></script>
<script src="/static/js/bootstrap-datepicker.min.js"></script>
<script src="/static/js/exporting.js"></script>
<script src="/static/js/export-csv.js"></script>
<script type="text/javascript">
	var getUrlParameter = function getUrlParameter(sParam) {
	    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
	        sURLVariables = sPageURL.split('&'),
	        sParameterName,
	        i;

	    for (i = 0; i < sURLVariables.length; i++) {
	        sParameterName = sURLVariables[i].split('=');

	        if (sParameterName[0] === sParam) {
	            return sParameterName[1] === undefined ? true : sParameterName[1];
	        }
	    }
	};

	Highcharts.theme = {
    	colors: ['#44917b', '#ff6600', '#666666', '#FF0000', '#0000FF'],
    	title: {
    		style: {
    			color: "#44917b"
    		}
    	}
    }

    Highcharts.setOptions(Highcharts.theme);

	var userslist = {{ userslist }};
    var newuserslist = {{ newuserslist }};
    var totalusers = {{ totalusers }};
    var totalnewusers = {{ totalnewusers }};

    $('#userschart').highcharts({
        chart: {
            zoomType: 'xy'
        },
        title: {
            useHTML: true,
            text: 'Total Users: ' + totalusers + '<br>Total New Users: ' + totalnewusers
        },
        xAxis: {
            categories: {% raw daterange %},
            crosshair: true
        },
        yAxis: [{
            title: {
                text: 'Users'
            }
        }],
        tooltip: {
            shared: true
        },
        series: [{
            name: "Total Users",
            type: "column",
            yAxis: 0,
            showInLegend: true,
            data: userslist,
            dataLabels: {
                enabled: true
            }
        },{
            name: "New Users",
            type: "column",
            yAxis: 0,
            showInLegend: true,
            data: newuserslist,
            dataLabels: {
                enabled: true
            }
        }]
    });

    var overallconversion = {{ overallconversion }};
    var overallnewconversion = {{ overallnewconversion }};

    $('#conversionchart').highcharts({
        chart: {
            zoomType: 'xy'
        },
        title: {
            useHTML: true,
            text: 'Overall Conversion: ' + (overallconversion*100).toFixed(2) + '%<br>New User Conversion: ' + (overallnewconversion*100).toFixed(2) + "%"
        },
        xAxis: {
            categories: {% raw daterange %},
            crosshair: true
        },
        yAxis: [{
            title: {
                text: 'Conversion'
            }
        }],
        tooltip: {
            shared: true
        },
        series: [{
            name: "Overall Conversion",
            type: "line",
            showInLegend: true,
            data: {{ dailyconversion }},
            dataLabels: {
                enabled: true,
                formatter: function() {
                    var pcnt = (this.y) * 100;
                    return Highcharts.numberFormat(pcnt) + '%';
                }
            }
        },{
            name: "New User Conversion",
            type: "line",
            showInLegend: true,
            data: {{ newconversion }},
            dataLabels: {
                enabled: true,
                formatter: function() {
                    var pcnt = (this.y) * 100;
                    return Highcharts.numberFormat(pcnt) + '%';
                }
            }
        }]
    });
    $('#sourceschart').highcharts({
        chart: {
            type: "column"
        },
        title: {
            text: 'Traffic Sources'
        },
        xAxis: {
            categories: {% raw daterange %},
            crosshair: true
        },
        yAxis: {
            title: {
                text: 'Traffic'
            },
            stackLabels: {
                enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
            }
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: true,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                    style: {
                        textShadow: '0 0 3px black'
                    }
                }
            }
        },
        tooltip: {
            formatter: function () {
                return (this.y/this.point.stackTotal*100).toPrecision(2) + '%';
            }
        },
        series: {% raw trafficdatatodisplay %}
    });
    
    $('#platformuserschart').highcharts({
        chart: {
            type: "column"
        },
        title: {
            text: 'Traffic by Platform'
        },
        xAxis: {
            categories: {% raw daterange %},
            crosshair: true
        },
        yAxis: {
            title: {
                text: 'Traffic'
            },
            stackLabels: {
                enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
            }
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: true,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                    style: {
                        textShadow: '0 0 3px black'
                    }
                }
            }
        },
        tooltip: {
            formatter: function () {
                return (this.y/this.point.stackTotal*100).toPrecision(2) + '%';
            }
        },
        series: {% raw platformdatatoshow %}
    });
    $('#platformconversionchart').highcharts({
        chart: {
            zoomType: 'xy'
        },
        title: {
            useHTML: true,
            text: 'Android Conversion: ' + ({{ androidconversion }}*100).toFixed(2) + '%<br>Web Conversion: ' + ({{ webconversion }}*100).toFixed(2) + '%<br>iOS Conversion: ' + ({{ iosconversion }}*100).toFixed(2) + "%"
        },
        xAxis: {
            categories: {% raw daterange %},
            crosshair: true
        },
        yAxis: [{
            title: {
                text: 'Conversion'
            }
        }],
        tooltip: {
            shared: true
        },
        series: [{
            name: "Android Conversion",
            type: "line",
            showInLegend: true,
            data: {{ androidconversionseries }},
            dataLabels: {
                enabled: true,
                formatter: function() {
                    var pcnt = (this.y) * 100;
                    return Highcharts.numberFormat(pcnt) + '%';
                }
            }
        },{
            name: "Web Conversion",
            type: "line",
            showInLegend: true,
            data: {{ webconversionseries }},
            dataLabels: {
                enabled: true,
                formatter: function() {
                    var pcnt = (this.y) * 100;
                    return Highcharts.numberFormat(pcnt) + '%';
                }
            }
        },{
            name: "iOS Conversion",
            type: "line",
            showInLegend: true,
            data: {{ iosconversionseries }},
            dataLabels: {
                enabled: true,
                formatter: function() {
                    var pcnt = (this.y) * 100;
                    return Highcharts.numberFormat(pcnt) + '%';
                }
            }
        }]
    });

    $(document).ready(function() {
        $('#horizonselect').on('change', function() {
            window.location.href = "/userstats?horizon=" + $(this).val();
        });
        var thishorizon = getUrlParameter("horizon");
        if (thishorizon) {
            $('#horizonselect').val(thishorizon);
        }
        var thisstartdate = getUrlParameter("startdate");
        if (thisstartdate) {
            $('#startdate').val(thisstartdate);
        }
        var thisenddate = getUrlParameter("enddate");
        if (thisenddate) {
            $('#enddate').val(thisenddate);
        }
        $('.input-daterange').datepicker({
            todayBtn: "linked",
            autoclose: true,
            todayHighlight: true,
            format: "dd/mm/yy",
        });
        {% if user=="review" %}
        $('#startdate').datepicker().on('changeDate', function(e) {
            $('#enddate').datepicker('clearDates');
            $('#enddate').datepicker('setStartDate',$("#startdate").val());       
            startDate = $("#startdate").datepicker('getDate');
            endDate = startDate;
            endDate.setMonth(startDate.getMonth() + 3);
            $('#enddate').datepicker('setEndDate',endDate);
        });
        {% end %}        
        $('#setDates').on('click', function() {
            window.location.href = "/userstats?startdate=" + $("#startdate").val() + "&enddate=" + $("#enddate").val();
        });
        $('.showFilters').on('click', function() {
            $('#horizon').fadeToggle();
        });
        $('.tablesorter').tablesorter({sortList: [[1,1], [0,0]]});
    });
	
</script>
</body>
</html>